body {
    background-color: #80b6bc;
    color: azure;
    font-size: 1.1em;
}
h1 {
    color: black;
    font-family: 'Handlee', cursive;
    text-align: center;
}

.img-circle {
    border-radius: 50%;
}
.img-circle:hover {
    opacity:0.5;
}
h3 {
    text-align: center;
    color: #3cc4d1; 
    font-family: 'Handlee', cursive;
    line-height:1.34em;
}
.navigation {
    background-color: #def7f9;
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-left: 10px;
}
.navigation:hover {
   color: #d3e8e3;
}
.navigation:unvisited {
  color: #3cc4d1;
}
.navigation:visited {
    color: #11383d;
}
p {
    font-size: 0.75em;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
}
.project {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
}
.project:hover {
    padding-top: 70px;
    padding-right: 30px;
    padding-bottom: 70px;
    padding-left: 80px;
    font-size: 1.5em;
    background: #c4c4c4;
}
    
