body {
    background-color: #80b6bc;
    color: azure;
    font-size: 1.1em;
}
h1 {
    color: black;
    font-family: 'Handlee', cursive;
    text-align: center;

}

.img-circle {
    border-radius: 50%;
}
.img-circle:hover {
    opacity:0.5;
}
h3 {
    text-align: center;
    color: #3cc4d1; 
    font-family: 'Handlee', cursive;
    line-height:1.34em;
}
.navigation {
    background-color: #def7f9;
    padding: 8px;
}
.navigation:hover {
   color: #d3e8e3;
}
.navigation:unvisited {
  color: #3cc4d1;
}
.navigation:active{
    color: #11383d;
}
p {
    font-size: 2 em;
    font-family: 'Open Sans', sans-serif;
    color: #11383d;
    text-align: center;
    padding: 200 px;
}
.project {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    font-family: 'Open Sans', sans-serif;
    color: #11383d;
    text-align: center;
}
.project:hover {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    font-size: 2 em;
    background: #c4c4c4;
    margin: 40 px;
}
.resume {
   background-color: #def7f9;
   padding: 50 px;

} 
.header {
    font-family: 'Handlee', cursive;
    text-align: center;
    color: black;
}  
.row:before, .row:after {
  content: ""; display: table;
}
.resume-description {
    padding: 8px;
    text-align: center;
    color: #11383d;
    font-family: 'Open Sans', sans-serif;
}
